*{
    padding: 0;
    margin: 0;
}

body,
html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
h1{
    font-size: 80px;
    color: red;
}

